<footer class="footer">
	<div class="container">
		<span class="text-muted">
			Last updated <%= new Date() %> 
			<a href="https://bitbucket.org/twowaynet/37signals-backpack-backup">Source repository</a>
		</span>
	</div>
</footer>