<%# Generate HTML download page for consumption by Chocolatey Auto Updater %>
<% pageTitle = '37signals Backpack Backup'; %>


<HTML>

	<head>
		<title>
			<%=pageTitle%>
		</title>
		<link href="bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="sticky-footer-navbar.css" rel="stylesheet" type="text/css">
	</head>
	
	
	<body>
		<main>
			<div class="container">
				<h1>
					<%=pageTitle%>
				</h1>
				
				<%if (user) { %>
					<p>Willkommen in the Matrix, <%= user.displayName %>.</p>
					<a class="btn btn-primary" href="/backup" role="button">Begin</a>
				<% } else { %>
					<a class="btn btn-primary" href="/login" role="button">Login</a>
					
				<% } %>
				
				
				
				
			<div class="container">
		</main>
		
		
		<%- include('footer', {user: user}); %>
		
			
			
			
			
		
	</body>
</HTML>

%>'