<%# Generate HTML download page for consumption by Chocolatey Auto Updater %>
<% title = '37signals Backpack Backup'; %>


<HTML>
	<head>
		<title>
			<%=title%>
		</title>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	</head>
	
	<body>
	
		<main>
		<div class="container">
			<h3>
				Login
			</h3>
			
			<a class="btn btn-success" href="/auth/37signals" role="button">Log in via 37signals</a>
			
			<p>Last updated <%= new Date() %></p>
			<a href="https://bitbucket.org/twowaynet/37signals-backpack-backup">Source repository</a>
		<div class="container">
		</main>
		
		<%- include('footer', {user: user}); %>
	</body>
</HTML>

%>'